@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

/* Color Theme Swatches in Hex */
.terminalbar-1-hex { color: #44D3BD; }
.terminalbar-2-hex { color: #1B6B4A; }
.terminalbar-3-hex { color: #0E2E1F; }
.terminalbar-4-hex { color: #A23B2D; }
.terminalbar-5-hex { color: #2B0B0B; }

/* Color Theme Swatches in RGBA */
.terminalbar-1-rgba { color: rgba(68, 211, 189, 1); }
.terminalbar-2-rgba { color: rgba(27, 107, 74, 1); }
.terminalbar-3-rgba { color: rgba(14, 46, 31, 1); }
.terminalbar-4-rgba { color: rgba(162, 59, 45, 1); }
.terminalbar-5-rgba { color: rgba(43, 11, 11, 1); }


/*
 * Global
 */


.needs-validation {
    background-color: #ffffff;
}

.card {
    color: #333333;
}

#mail-form {
    background-color: #ffffff;
    color: #333333;
}
/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    background-color: #0E2E1F;
    border: .05rem solid #fff;
}


/* Basic structure*/

html,
body {
    height: 100%;
    background-color: #0E2E1F;
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #44D3BD;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
}

h1 {
    font-size: 48px;
}

.cover-container {
    max-width: 42em;
}

/* Header */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(162, 59, 45, 1);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
}

.bc-icons-2 .breadcrumb-item + .breadcrumb-item::before {
    content: none; }
.bc-icons-2 .breadcrumb-item.active {
    color: #455a64; }

.modal-content {
    color: #333333;
    font-weight: 800;
    font-size: 16px;
}